
<%-include("../../views/partials/user/header")%>   

<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #fef3e2;
    }
    .hero-section {
      background: url('hero-image.jpg') no-repeat center center/cover;
      color: white;
      text-align: center;
      padding: 50px 20px;
    }
    .product-card img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
    .category-card img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
    .testimonial {
      background-color: #fff3e6;
      border-radius: 10px;
      padding: 15px;
      margin: 10px;
    }
    .banner-headder {
        background-color: #dba56f;
        width: 100%;
    }
  </style>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/banner7.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6></h6>
                                <h2 style="color: aliceblue;">"Dry Fruits, Nuts & Seeds"</h2>
                                <h2 style="color: aliceblue;">The Difference & Benefits</h2>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/banner8.webp">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6></h6>
                                <h2 style="color: aliceblue;">Best Dry Fruits to Keep You Warm and Healthy This Winter </h2>
                                <p></p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <section class="container text-center py-5">
        <div class="banner-headder">
        <h2>Discover the Finest Blends: Spicy Dry Fruits,Sweet Nuts,<hr> 
            Mixed Seeds & More</h2>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-3">
            <div class="product-card">
              <img src="/img/mixedDryFruit.jpg" alt="Mixed Dry Fruits" >
              <h5 class="mt-2" style="color: black;">Mixed Dry Fruits</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-card">
              <img src="img/mixedSeeds.jpeg" alt="Mixed Seeds">
              <h5 class="mt-2" style="color: black;">Mixed Seeds</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-card">
              <img src="img/caramelNuts.jpg" alt="Caramel Nuts">
              <h5 class="mt-2" style="color: black;">Caramel Nuts</h5>
            </div>
          </div>
          <!-- <div class="col-md-3">
            <div class="product-card">
              <img src="spicy-nuts.jpg" alt="Spicy Nuts">
              <h5 class="mt-2">Spicy Nuts</h5>
            </div>
          </div> -->
        </div>
      </section>

      <section class="container text-center py-5">
        <h2 style="color: black; font-weight: bold;" >Shop By Categories</h2>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="category-card">
              <img src="img/nuts.webp" alt="Nuts">
              <h5 class="mt-2" style="color: black;">Nuts</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category-card">
              <img src="img/Dates.jpeg" alt="Dates">
              <h5 class="mt-2" style="color: black;">Dates</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category-card">
              <img src="img/Seeds.jpeg" alt="Seeds">
              <h5 class="mt-2" style="color: black;">Seeds</h5>
            </div>
          </div>
        </div>
      </section>

      <section class="container text-center py-5">
        <h2 style="color: black; font-weight: bold;">Summer Offer</h2>
        <div class="row justify-content-center mt-4">
          <!-- <div class="col-md-3">
            <div class="product-card">
              <img src="offer-1.jpg" alt="Offer 1">
              <p class="mt-2">Cashew Nuts - 20% OFF</p>
            </div>
          </div> -->
          <div class="col-md-3">
            <div class="product-card">
              <img src="img/spicyPeanuts.jpeg" alt="Offer 2">
              <p class="mt-2">Spicy Peanuts - 15% OFF</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-card">
              <img src="img/offer4.jpg" alt="Offer 3">
              <p class="mt-2">Trail Mix - 10% OFF</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-card">
              <img src="img/almonds.jpg" alt="Offer 4">
              <p class="mt-2">Almond Mix - 25% OFF</p>
            </div>
          </div>
        </div>
      </section>

    
      <%-include("../../views/partials/user/footer")%>
    

    